# directories
broadcast
cache
coverage
lib
out
artifacts
.github
.husky
other
.certora_internal/

# files
*.env
*.log
.DS_Store
lcov.info
*.txt
*.toml
LICENSE
.solhintrc
.prettierrc
.prettierignore
*.svg
.gitmodules
.gitignore
package-lock.json
Makefile
*.sh
*.pdf
*.lock

# temporarily
test/unit/SystemUpgrade.t.sol
