{
  "printWidth": 80,
  "tabWidth": 4,
  "proseWrap": "always",
   "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    }

  ]
}

