# directories
broadcast
cache
coverage
lib
out
artifacts
.husky
other
.certora_internal/

# files
*.env
*.log
.DS_Store
lcov.info
*.txt
*.toml
LICENSE
.prettierrc
.prettierignore
*.svg
.gitmodules
.gitignore
package-lock.json
Makefile
*.sh
*.pdf
*.lock
*.sol

