[profile.default]
src = 'src'
out = 'artifacts/foundry'
libs = ['node_modules', 'lib']
test = 'test'
cache_path  = 'artifacts/forge-cache'
fs_permissions = [{ access = "read", path = "./"}]
auto_detect_solc = true
evm_version = 'paris' # lock to paris to prevent use of push0 opcode which is not live on base
optimizer_runs = 1
rpc_storage_caching = { chains = "all", endpoints = "all" }

[fuzz]
runs = 1

[rpc_endpoints]
localhost = "http://127.0.0.1:8545"
moonriver = "${MOONRIVER_RPC_URL}"
moonbeam = "${MOONBEAM_RPC_URL}"
moonbase = "${MOONBASE_RPC_URL}"
ethereum = "${ETH_RPC_URL}"
base = "${BASE_RPC_URL}"
baseSepolia = "${BASE_SEPOLIA_RPC_URL}"
arbitrum = "${ARB_RPC_URL}"
optimism = "${OP_RPC_URL}"
opSepolia = "${OP_SEPOLIA_RPC_URL}"

# comment out the following lines so that CI passes fast and doesn't throw errors related to connecting to CI
[etherscan]
#moonriver = { key = "${MOONRIVER_API_KEY}", url= "https://api-moonriver.moonscan.io/api" }
#moonbeam = { key = "${MOONBEAM_API_KEY}", url= "https://api-moonbeam.moonscan.io/api" }
#moonbase = { key = "${MOONBEAM_API_KEY}", url= "https://api-moonbase.moonscan.io/api" }
#goerli = { key = "${ETHERSCAN_API_KEY}", url= "https://api-goerli.etherscan.io/api" }
#sepolia = { key = "${ETHERSCAN_API_KEY}", url= "https://api-sepolia.etherscan.io/api" }
#base = { key = "${BASESCAN_API_KEY}", url= "https://api.basescan.org/api" }
#baseSepolia = { key = "${BASESCAN_API_KEY}", url= "https://sepolia.basescan.org/api" }
#opSepolia = { key = "${OPSCAN_API_KEY}", url= "https://api.optimistic.etherscan.io/api" }


