[profile.default]
src = 'src'
out = 'artifacts/foundry'
libs = ['node_modules', 'lib']
test = 'test'
cache_path  = 'artifacts/forge-cache'
fs_permissions = [{ access = "read", path = "./"}]
solc = "0.8.19" # lock to paris to prevent use of push0 opcode which is not live on base
evm_version = 'paris' # lock to paris to prevent use of push0 opcode which is not live on base

[rpc_endpoints]
localhost = "http://127.0.0.1:8545"
moonriver = "https://rpc.api.moonriver.moonbeam.network"
moonbeam = "https://rpc.api.moonbeam.network"
moonbase = "https://rpc.api.moonbase.moonbeam.network"
ethereum = "https://rpc.ankr.com/eth"
optimism = "https://endpoints.omniatech.io/v1/op/mainnet/public"
avalanche = "https://rpc.ankr.com/avalanche"
base = "${BASE_RPC_URL}"
baseGoerli = "${BASE_GOERLI_RPC_URL}"
baseSepolia = "https://sepolia.base.org"
local = "http://127.0.0.1:8545"

[etherscan]
moonriver = { key = "${MOONRIVER_API_KEY}", url= "https://api-moonriver.moonscan.io/api" }
moonbeam = { key = "${MOONBEAM_API_KEY}", url= "https://api-moonbeam.moonscan.io/api" }
moonbase = { key = "${MOONBEAM_API_KEY}", url= "https://api-moonbase.moonscan.io/api" }
goerli = { key = "${ETHERSCAN_API_KEY}", url= "https://api-goerli.etherscan.io/api" }
sepolia = { key = "${ETHERSCAN_API_KEY}", url= "https://api-sepolia.etherscan.io/api" }
base = { key = "${BASESCAN_API_KEY}", url= "https://api.basescan.org/api" }
baseGoerli = { key = "PLACEHOLDER_STRING", url= "https://api-goerli.basescan.org/api" }
baseSepolia = { key = "PLACEHOLDER_STRING", url= "https://api-sepolia.basescan.org/api" }
