name: Foundry base integration tests

on: [pull_request]

env:
  BASE_RPC_URL: ${{secrets.BASE_SEPOLIA_RPC_URL}}
  BASESCAN_API_KEY: ${{secrets.BASESCAN_API_KEY}}

jobs:
  run-base-tests:
    name: base-integration-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Environment
        uses: ./.github/actions

      - name: Set PROPOSAL_ARTIFACT_PATH environment variable
        run: bash ./.github/helper/set-env-var.sh

      - name: Integration Tests Base Mainnet
        run: time forge test --match-contract LiveSystemTest --fork-url baseSepolia -vvv
