name: Foundry cross chain publish governance message integration tests

on: [push, pull_request]

env:
  BASE_RPC_URL: ${{secrets.BASE_RPC_URL}}

jobs:
  run-base-tests:
    name: base-integration-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Environment
        uses: ./.github/actions

      - name: Integration Test Cross Chain Publish Message
        run: time forge test --match-contract CrossChainPublishMessageTest -vvv
