name: Linter

on: [pull_request]

jobs:
  lint:
    runs-on: self-hosted
    steps:
      - name: "Check out the repo"
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: "Install Node.js"
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: "Install the Node.js dependencies"
        run: npm install

      - name: Run linter and check for errors
        id: lint
        run: |
          LINT_OUTCOME=$(npm run lint 2>&1 || true) # Prevent the step from failing immediately
          echo "$LINT_OUTCOME"
          echo "LINT_OUTCOME<<EOF" >> $GITHUB_ENV
          echo "$LINT_OUTCOME" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
          if echo "$LINT_OUTCOME" | grep -q " error "; then
            echo "## Lint result" >> $GITHUB_STEP_SUMMARY
            echo "❌ Failed due to errors" >> $GITHUB_STEP_SUMMARY
            exit 1
          else
            echo "## Lint result" >> $GITHUB_STEP_SUMMARY
            echo "✅ Passed or warnings found" >> $GITHUB_STEP_SUMMARY
          fi
