name: Foundry moonbeam integration tests

on: [pull_request]

env:
  MOONBEAM_API_KEY: ${{secrets.MOONBEAM_API_KEY}}

jobs:
  run-moonbeam-tests:
    name: moonbeam-integration-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Environment
        uses: ./.github/actions

      - name: Set PROPOSAL_ARTIFACT_PATH environment variable
        run: bash ./.github/helper/set-env-var.sh

      - name: Integration Tests Moonbeam Mainnet
        run: time forge test --match-contract LiveSystemMoonbeamTest --fork-url moonbeam -vvv
