name: Foundry unit tests

on: [pull_request]

jobs:
  unit-tests:
    name: unit-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Environment
        uses: ./.github/actions

      - name: Unit Test Contracts
        run: time forge test -vvv --match-contract UnitTest
